# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
# !wp-content/plugins/my-single-file-plugin.php
# !wp-content/plugins/my-directory-plugin/
!wp-content/plugins/lapizzeria-gutenberg/
wp-content/plugins/lapizzeria-gutenberg/node_modules/*
wp-content/plugins/lapizzeria-gutenberg/build/*


#Ignore phpUnit testing files and folder
# wp-content/plugins/quizbook/vendor
# wp-content/plugins/quizbook/vendor
# wp-content/plugins/quizbook/bin
# wp-content/plugins/quizbook/tests
# wp-content/plugins/quizbook/.phpcs.xml.dist
# wp-content/plugins/quizbook/.phpunit.result.cache
# wp-content/plugins/quizbook/.travis.yml
# wp-content/plugins/quizbook/composer.json
# wp-content/plugins/quizbook/composer.lock
# wp-content/plugins/quizbook/phpunit.xml.dist

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
# wp-content/themes/*
# !wp-content/themes/my-theme/
wp-content/themes/*
!wp-content/themes/lapizzeria/